{%  extends 'blog/base.html' %}
{%  block content %}
    <h1>About Page</h1>
    <div class="about-body">
        <p>
            Welcome to The Blog! This website does all things blog related but cooler because I am the admin.
            Well everything except for posting... (as of now). But hey! you can create a profile, including
            with a profile picture, and edit your profile information straight from the website. I think
            that that's pretty cool. And I have my own admin page that I can do admin stuff from. As of now,
            it is the only way for anyone to post (except from the command line). Also, I did the styling myself
            (with a lot of help from Corey Shafer) so that's cool.
        </p>
        <p>
            Right now, there is still a lot of work to be done on this website. Posting from the website, links
            to articles, and special privileges for authors of their own work. I would also like to get a better
            sense of bootstrap and style the page more myself.
        </p>
    </div>
{% endblock content %}
