{% extends 'blog/base.html' %}
{%  block content %}
    {% for post in posts %}
        <article class="media content-section row">
            <img class="rounded-circle article-img col-md-2" src="{{ post.author.profile.image.url }}" alt="Profile Picture">
            <div class="media-body col-md-10">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <span class="small">{{ post.date_posted|date:"F j, Y" }}</span>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {%  endfor %}
{%  endblock content %}

{#I'm brute forcing some styling here#}
{#I'll take the time to really learn bootstrap#}
