{% extends 'blog/base.html' %}
{% block content %}
    <article class="media content-section row">
        <img class="rounded-circle article-img col-md-2" src="{{ object.author.profile.image.url }}" alt="Profile Picture">
        <div class="media-body col-md-10">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <span class="small">{{ object.date_posted|date:"F j, Y" }}</span>
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-outline-info mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-outline-danger mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
        </div>
    </article>
{% endblock %}
